/**
 *	Stylesheet Main
 *
 * For CSS that doesn't belong to a specific module
 *
 */
body {
	margin: 50px;
	color: black;
	font-family: arial;
	font-size: 22px;
}
.fakelink {
	text-decoration: underline;
	cursor:pointer;cursor:hand; 
}
.hand {
	cursor: pointer; cursor: hand;
}

.box {
	border: 1px solid black;
	position: relative;
	padding: 20px;
}